@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
}

main {
    flex-grow: 1;
    background-image: linear-gradient(to right bottom, #003343, #004452, #00555e, #006666, #03786a);
}

.cuadroFecha {
    background-color: rgba(0, 0, 0, 0.56);
}

.cuadroHora {
    background-color: rgba(0, 0, 0, 0.56);
}

.hour {
    font-size: 3.8em;
}

.pmSegundos p {
    font-size: 2em;
    height: 1em;
}

.pmSegundos p {
    padding: 0px;
    margin: 0px;
}

.contenido {
    padding-top: 15%;
}

@media (min-width: 768px) and (max-width:991px) {
    .hour {
        font-size: 7.5em;
    }

    .pmSegundos p {
        font-size: 3.5em;
        height: 1em;
        padding-top: 18px;
    }
}

@media (min-width: 992px) {
    .hour {
        font-size: 10em;
    }

    .pmSegundos p {
        font-size: 4.5em;
        height: 1em;
        padding-top: 18px;
    }
}